@import url(//fonts.googleapis.com/css?family=VT323);

body {
    background-color: #151414;
    font-family: 'VT323', sans-serif;
}

h1 {
    color: aliceblue;
}

.row {
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    color: #FFFFFF;
    background-color: #0b0a0a;
}

#main_bar {
    height: 5vh;
}

#main_view {
    height: 92vh;
}

#logo_small {
    margin-top: 0.05vh;
    margin-bottom: 0.05vh;
    margin-left: 1vh;
    margin-right: 1vh;
    height: 3.25vh;
    width: 3.25vh;
}

#logo_main {
    margin-top: 15vh;
    margin-left: 10vh;
    height: 70.25vh;
    width: 70.25vh;
}

.about_text {
    margin-top: 15vh;
    margin-left: -25vh;
}

.contact-logo-small {
    height: 3vh;
    width: 3vh;
}

#navball {
    padding-left: 5.5vw;
}
