@import url(//fonts.googleapis.com/css?family=VT323);

body {
    font-family: 'VT323', sans-serif;
    background-image: url('res/background.jpg');
    color: white;
}

/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 16px !important;
    letter-spacing: 1px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Make text centered */
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 5px;
    opacity: 0.7;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

footer a:visited {
    text-decoration: none;
    color: #f5f5f5;
}

footer a:active {
    text-decoration: none;
    color: #f5f5f5;
}

footer a:link {
    text-decoration: none;
    color: #f5f5f5;
}

#projectWrapper {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.individual_project {
    height: 44vh;
}

.project_image {
    height: 90%;
    max-height: 350px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.inner {
    height: 44vh;
    margin: 0.5vh;
}

.shelf {
    padding-bottom: 0.5vh;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #050505;;
}

.inner:hover .overlay {
    opacity: 0.8;
}

.inner:focus .overlay {
    opacity: 0.8;
}

.inner:active .overlay {
    opacity: 0.8;
}

.overlay_text {
    color: white;
    font-size: calc(2.2vh);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

a.project_link {
    color: #85122c;
}

a.project_link:link {
    text-decoration: none;
    color: #85122c;
}

a.project_link:visited {
    text-decoration: none;
    color: #85122c;
}

a.project_link:hover {
    text-decoration: none;
    color: #85122c;
}

a.project_link:active {
    text-decoration: none;
    color: #85122c;
}